<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
<script src="//0.0.0.0:5000/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </head>
    <body background="{{url_for('static', filename ='images/background.jpg')}}" style='background-size:cover;font-family:"Roboto Condensed"';>

        <div class='d-flex justify-content-center' id="container" style='position: relative;'>

            <video autoplay="true" id="videoElement" style='width: 640px;height: 480px;background-color: #666;top: 40px;'>
            </video>
          <!--  <img id="imageElement" src="{{ url_for('video_feed') }}" style='width: 640px;height: 480px;background-color: #666;'>-->
            <canvas id="canvasElement" style='width: 640px;height: 480px;display: none;'></canvas>
            <div style='position: absolute;top:5%;left:25%;z-index:1;' class="overlayText"><p id='topText' style='color: YellowGreen;font-size: 40px;align-self:center;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;'></p></div>
        </div>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

        <form action="/" method="post">
       <button class="btn btn-lg btn-warning" id='login' style='position:relative;left:50%;' disabled>Log In</button>
   </form>
   <img id='loading' height="100" width="100" style='position:relative;left:50%;' src= "{{url_for('static', filename ='images/burgercat.gif')}}">

    </body>
    <script>
    $('#loading').hide()
    $('#login').on('click',function(){$('#login').hide();$('#loading').show()})

         $(document).ready(function(){

           let eventSource = new EventSource("/overlay_feed");

            eventSource.onmessage = function(event) {
              var obj = $("#topText").text(event.data);
              obj.html(obj.html().replace('|','<br/>'));

            };

// или eventSource.addEventListener('message', ...)


               var x = '';
               var idx = setInterval(isFaceFound,1000);

               function isFaceFound (){

               fetch("{{ url_for('video_feed') }}", {method:'HEAD'}).then(response => response.headers)
                 .then(result => x=result.get('face_found'));
                         console.log('a')
                         //alert(response.headers.get('face_found')); // application/json; charset=utf-8
                         if (x==1) {
                           $('#login').removeAttr('disabled');
                           clearInterval(idx);

                         }
                    }
           let namespace = "/cvr";
           let video = document.querySelector("#videoElement");
           let canvas = document.querySelector("#canvasElement");
           let ctx = canvas.getContext('2d');

           var localMediaStream = null;

           var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

           function sendSnapshot() {
             if (!localMediaStream) {
               return;
             }
             canvas.width=640;
             canvas.height=480;
             ctx.drawImage(video, 0, 0, video.videoWidth, video.videoHeight, 0, 0, 640, 480);
             let dataURL = canvas.toDataURL('image/jpeg');
             socket.emit('input image', dataURL);
           }

           socket.on('connect', function() {
             console.log('Connected!');
           });

           var constraints = {
             video: {
               width: { min: 640 },
               height: { min: 480 }
             }
           };

           navigator.mediaDevices.getUserMedia(constraints).then(function(stream) {
             video.srcObject = stream;
             localMediaStream = stream;

             setInterval(function () {
               sendSnapshot();

             }, 500);
           }).catch(function(error) {
             console.log(error);
           });
         });

 </script>
</html>
