 <table class="table table-bordered large" style='font-size: 16px;'>

  {% for item in prev_orders %}
  {% set outer_loop = loop %}
  <tr>
    <td rowspan = {{item['order_data']|length}}>{{item['order_id']}}</td>
      {% for it in item['order_data'] %}
      {% if loop.first %}
      <td td-id = "{{outer_loop.index}}"  itm-id = "{{it['item_id']}}">{{it['item_name']}}</td>
      <td rowspan = {{item['order_data']|length}} style="vertical-align:middle;" class="text-center align-middle"><button class="btn repeat btn-outline-primary" type="button" onclick="repeat('{{outer_loop.index}}')">Repeat Order</button></td></tr>
      {% else %}
      <tr><td td-id = "{{outer_loop.index}}" itm-id = "{{it['item_id']}}">{{it['item_name']}}</td></tr>
      {% endif %}
    {% endfor %}
  {% endfor %}

    </table>
<script>
    function clickHandler(id){
      $("[td-id='"+id+"']").each(function() {
          var name  = $(this).html();
          var id = $(this).attr('itm-id');

        var markup = "<div class='col-md-2 order-div' item-id='"+id+"'><div style='height:50px;'><h5>"+name+"</h5></div><button type='button' class='btn btn-danger x'>x</button></div>";
        $("#cart").append(markup);
      })}

</script>
